
.LoginForm {
    color: #dedede;
    height: 55vh;
    width: 50vh;
    background-color: rgba(11,11,11,0.2);
    border: 1px solid #dedede;
    border-radius: 20px;
    margin: auto;
}

#lButton {
    margin-top: 4vh;
    margin-right: auto;
    margin-left: auto;
    padding: 1vh 4.4vh;
    font-size: calc(5px + 1.5vmin);
    background-color: #2ecc71;
    border: none;
    color: #dedede;
}

#lButton:hover {
    background-color: #27ae60;
}

#lButton:focus,#lButton:active {
    outline: none !important;
    box-shadow: none;
}