#sButton:focus,#sButton:active {
    outline: none !important;
    box-shadow: none;
  }

.Login {
    color: #dedede;
    height: 75vh;
    width: 550px;
    background-color: rgba(11,11,11,0.2);
    border: 1px solid #dedede;
    border-radius: 20px;
    margin: auto;
}

.Login-header {
    background-size: cover;
    background-image: linear-gradient( 109.6deg,  rgba(36,45,57,1) 11.2%, rgba(16,37,60,1) 51.2%, rgba(0,0,0,1) 98.6% );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Login-logo {
    padding-top: 5vh;
    margin-right: auto;
    margin-left: auto;
    height: 20vmin;
    width: 23.5vmin;
    margin-bottom: 20px;
}

.inpForm {
    margin-top: 20px;
    padding-top: 20vh;
    content:"";
}

.Row:after {
    content: "";
    display: table;
    clear: both;
}

.Col-25 {
    text-align: left;
    padding-left: 35px;
    float: left;
    width: 33%;
    margin-top: 12px;
}

.Col-75 {
    float: left;
    width: 55%;
    margin-top: 6px;
}


input[type=text], input[type="password"], select, textarea {
    color: #dedede;
    font-size: 16px;
    height: 6px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    width: 70%;
    padding: 12px;
    resize: vertical;
}

label {
    font-size: 22px;
}


#sButton {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 16px;
    font-size: 18px;
    background-color: #2ecc71;
    border: none;
    color: #dedede;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    text-align: left;
    padding-left: 35px;
    float: left;
    width: 27%;
    margin-top: 12px;
}

.col-75 {
    float: left;
    width: 65%;
    margin-top: 6px;
}