html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


@font-face {
    font-family: 'primetimeregular';
    src: url('../fonts/primetime__personal_use_only-webfont.woff') format('.woff'),
        url('../fonts/primetime__personal_use_only-webfont.woff2') format('.woff2'),
        url('../fonts/primetime__personal_use_only-webfont.ttf') format('.ttf');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.Label {
    font-family: 'primetime';
    margin-left: 2%;
    font-size: 1.5em;
    margin-top: -1vh;
    width: 55%;
}

.Inp {
    font-size: 0.7em;
    margin-left: 8%;
    width: 20vw;
    color: #dedede;
    height: 25px;
    border: 0;
    outline: 0;
    background: transparent;
    padding: 19px;
    border: 1px solid #2ecc71;
    border-radius: 0.8em;
}

.Background {
    display: grid;
    grid-template-areas:
    'menu header header header header header header header'
    'menu a  a  b b main right right'
    'menu a  a  b b footer footer footer'
    'menu f  f  f  f  f    f f' ;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 1fr 0.9fr;
    grid-template-rows: 70px 1fr 1fr;
    background-size: cover;
    background-color: #202630;
    min-height: 100vh;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Sidebar {
    grid-area: menu;
    position: absolute;
    height: 100vh;
    display: block;
    float: left;
    width: 5%;
    min-width: 75px;
    background-color: #171d23;
    color: #fafafa;
}

.Menubar {
    grid-area: header;
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    height: 70px;
    background-color: #21272e;
    color: #fafafa;
    filter: drop-shadow(0 0.5vh 0.5vh rgba(0,0,0,0.3));
}

.SearchResults {
    grid-area: a;
    height:calc(100vh - 70px);
    border-right: 1px solid rgb(80,93,111);
    overflow: auto;
}

.SearchResults-text {
    padding-top: 30px;
    padding-left: 40px;
}

.AddedStudents {
    grid-area: b;
    height:calc(100vh - 70px);
    border-right: 1px solid rgb(80,93,111);
    overflow: auto;
}

.StudentCards {
    height: 18vh;
    width: 27vw;
    background: #2e3445;
    padding-top: 1vh;
    margin-bottom: 10h;
}

.Cards {
    color:#c4c4c4;
    margin-bottom: 3.6vh;
}

.Heading {
    width: 90%;
    padding-left: 2vw;
    font-size: 1em;
    border-bottom: 1px solid rgb(80,93,111);
    float: left;
}

.CardButton {
    border: none;
    color: #fafafa;
    margin-top: -2%;
    width: 10%;
    height: 33%;
    float: left;
    text-align: center;
}

.AddButton {
    background: #3498db;
    font-size: 1.3em;
}

.CloseButton {
    background: #e67e22;
    font-size: 0.9em;
}

.Text {
    padding-left: 2vw;
    
}

.Logout {
    margin-right: 2vw;
    height: 35px;
    width: 100px;
    background-color: #2ecc71;
    color: #fafafa;
    border: none;
    font-size: 0.7em;
    border-radius: 0.5em;
}