* {
  font-family: 'Roboto';
}

.App {
  text-align: center;
}

.App-logo {
  margin-right: auto;
  margin-left: auto;
  height: 40vmin;
  width: 47vmin;
}

.App-header {
  padding-top: 5vh;
  background: url(background.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.Row:after {
  content: "";
  display: table;
  clear: both;
}

.Col-25 {
  text-align: left;
  padding-left: 35px;
  float: left;
  width: 27%;
  margin-top: 12px;
}

.Col-75 {
  float: left;
  width: 65%;
  margin-top: 6px;
}
