.App {
  text-align: center;
}

.App-logo {
  margin-right: auto;
  margin-left: auto;
  height: 40vmin;
  width: 50vmin;
}

.App-header {
  padding-top: 5vh;
  background: url(background.png) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}


